@{
    ViewBag.Title = "Home Page";
}


<div class="panel">
    <div class="heading">
        <span class="title"> Page Content</span>
    </div>
    <div class="content">
        <a href="http://thoughtsonprogramming.wordpress.com">Thoughts on Programming</a>
    </div>
</div>

